<div class="jumbotron" {{bind-attr style=imageStyle}}>
  <h1>{{model.gatherName}}</h1>
  <p>{{model.gatherLocation}}</p>
  <p>{{model.gatherDate}} @ {{model.gatherTime}}</p>

  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="thumbnail">
        <img src="http://www.businessinsider.com/image/4f3433986bb3f7b67a00003c/cute-cat.jpg" alt="...">
        <div class="caption">
          <h3>{{model.createdBy.firstName}} {{model.createdBy.lastName}}</h3>
          <p>Organizer</p>
          <p>
            {{model.createdBy.bio}}
          </p>

          {{#if gatherOwner}}

          <p><a href="#" class="btn btn-primary" role="button">Edit</a></p>

          {{else}}

          <p><a href="#" class="btn btn-primary" role="button">Contact</a></p>

          {{/if}}

        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-8 col-lg-9">
      <div class="thumbnail">
        <div class="caption">
          <h2>About this Gather</h2>
          <p>
            {{model.gatherDescription}}
          </p>
          <p><a href="#" class="btn btn-primary" role="button" {{action 'showModal' 'gathers.login-modal'}}>Join</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="thumbnail">
        <div class="caption">
          <h3>Going</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>


{{outlet}}
