<div class="jumbotron" {{bind-attr style=imageStyle}}>
  <h1>{{model.gatherName}}</h1>
  <p>{{model.gatherLocation}}</p>
  <p>{{model.gatherDate}} @ {{model.gatherTime}}</p>

  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="thumbnail">
        <img {{bind-attr src=model.createdBy.userPhoto.url}} alt="Organizer">
        <div class="caption">
          <h3>{{model.createdBy.firstName}} {{model.createdBy.lastName}}</h3>
          <p>Organizer</p>
          <p>
            {{model.createdBy.bio}}
          </p>
          {{#if gatherOwner}}
            {{link-to "Edit info" "gathers.edit" model class="btn btn-primary" role="button"}}
            <p><a href="#" class="btn btn-primary" role="button"{{action 'destroy'}}>Cancel Gather</a></p>
          {{else}}
            <p><a href="#" class="btn btn-primary" role="button">Contact</a></p>
          {{/if}}
        </div>
        <div class="caption">
          <h3>Going</h3>
            {{#each attendee in model.attendees}}
              <img class="going-icon" {{bind-attr src=attendee.userPhoto.url alt=attendee.firstName}} />
            {{attendee.firstName}}
            {{/each}}
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-8 col-lg-9">
      <div class="thumbnail">
        <div class="caption">
          <h2>About this Gather</h2>
          <p>
            {{model.gatherDescription}}
          </p>
          {{#unless gatherOwner}}
            {{#if gatherJoined}}
              <p><a href="#" class="btn btn-primary" role="button" {{action 'removeAttendee'}}>Leave Gather</a></p>
            {{else}}
              <p><a href="#" class="btn btn-primary" role="button" {{action 'addAttendee'}}>Join</a></p>
            {{/if}}
          {{/unless}}
        </div>
      </div>
    </div>

    {{#if gatherOwner}}
      {{partial "gathers/gatherchat"}}
    {{/if}}

    {{#if gatherJoined}}
      {{partial "gathers/gatherchat"}}
    {{/if}}

  </div>
</div>

{{outlet}}
