<div class="jumbotron header">
  {{#if session.isAuthenticated}}
    <h1>Welcome, {{session.currentUser.firstName}}</h1>
      {{log session}}
  {{else}}
    <h1>Welcome</h1>
  {{/if}}
  <p>Gather is a way to meet up with others and share ideas revolving around conferences.</p>

  {{#if session.isAuthenticated}}
    <p>Interested in a creating a Gathering?</p>
    {{#link-to 'gathers.create' class="btn btn-primary btn-lg"}}Create a Gathering{{/link-to}}
  {{else}}
    <span><a class="btn btn-primary btn-lg" {{action 'showModal' 'gathers.login-modal'}}>Login</a></span>
    {{#link-to 'gathers.signup' class="btn btn-primary btn-lg"}}Sign up{{/link-to}}
  {{/if}}
</div>

<div class="container">
  <h2>There are currently {{gatherCount}} Gatherings scheduled.</h2>
</div>

{{partial 'gathers/gathering'}}
